<div class="outer-div" align="center">
  <h2>Edit Employee</h2>
  <hr>
  <form id="emp-form" [formGroup]="empForm" (ngSubmit)="onEdit()" novalidate>
    <table>
      <tbody>
        <tr>
          <td class="expand-col">
            Name
          </td>
          <td>
            <input formControlName="name" placeholder="Name" class="form-control" />
          </td>
        </tr>
        <tr>
          <td>
            Age
          </td>
          <td>
            <input formControlName="age" placeholder="Age" class="form-control" />
          </td>
        </tr>
        <tr>
          <td>
            Email
          </td>
          <td>
            <input formControlName="email" placeholder="Email" class="form-control" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button type=submit class="update" [disabled]="!empForm.valid">UPDATE</button><button type="button"
              (click)="onCancel()" class="cancel">CANCEL</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="msg">
    {{msg}}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
</div>