.expand-col{
    width: 200px;
}

.outer-div{
    padding-top: 50px;
    width: 90%;
    margin: auto;
}

button{
    margin-top: 20px;
    margin-right: 5px; 
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px;   
}

.add{
    background-color: rgb(9, 117, 240);    
    color: white;
    border: 1px solid rgb(9, 117, 240);
}

.cancel{
    background-color: rgb(194, 186, 186);
    color: rgb(9, 117, 240);
    border: 1px solid rgb(194, 186, 186);;
}

.alert{
    width: 35%;
    margin: auto;
}