img{
    width: 99%;
    height: 55%;
    margin: 0.5%;
}

.card-group{
    width: 70%;
    margin: auto;
}

.card{
    margin: 1%;
    height: auto;
    display: flex;
    border-radius: 0px;
    border: 1px solid grey !important;
    box-shadow: 3px 3px grey;
}

.cost{
    float:right;
    color: green;
    /* font-style: italic; */
}
