img{
    width: 99%;
    height: 55%;
    margin: 0.5%;
}

.card-group{
    width: 70%;
    margin: auto;
}

.card{
    margin: 1%;
    height: auto;
    display: flex;
    border-radius: 0px;
    border: 1px solid grey !important;
    box-shadow: 3px 3px grey;
}

.cost{
    float:right;
    color: green;
}

.add-items{
    display: inline;   
    float: right; 
}

button.order-btn{
    background-color: white;
    border: 1px solid green;
    cursor: pointer;
}

.selection{
    /* display: inline; */
    float: right !important;
}

.total-price, .goto{
    display: inline;
}

.amt-spent {
    float:right;
}

.cart-header{    
    padding-right: 1%;
    height: 50px;
    background-color: #6c757d;
    color: white;
}

a{         
    color: white;
    text-decoration: none;    
}

.header-btn{
    /* float: left; */
    padding-top: 0.5%;
    padding-left: 1%;
}